@model ReviewsSites.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleDetails.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Norican|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Beerds</title>
</head>

<body>
    <div class="Category"><img src="@Model.ImgPath" style="height: 300px; width: auto;"/></div>
    <div class="MainPage">
        <p class="MainPageText">
            @Model.DetailDescription
        </p>
        <div id="mainList">       
            <ul>
                @foreach (var beer in Model.Beers)
                
                {
                <li><a href="/Beer/Details/@beer.BeerId">@beer.Name</a><br /><img src="@beer.ImgPath" style="height: 200px; width: auto;"/></li>
                }
            </ul>
        </div>
    </div>
    <div class="sidenav">
        <i id="mug" class="fas fa-beer"></i>
        <p>Welcome to Beerds! The premiere hub of beer reviews! Choose from our list of beers to give it a rating or to learn more.</p>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="/Category/Index">Return to list</a>
    </div>
</body>


</html>
