@model IEnumerable<ReviewsSites.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/CatIndex.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Norican|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" initial-scale=1.0/>
    <title>Welcome to Beerds, a Unique Beer Review Site</title>
</head>

<body>
    <header>
        <i id="mug" class="fas fa-beer"></i>
        <a href="/Beer/Index">All Beers</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </header>
    <div class="Background">
        <h1 id="beerReview">Beerds</h1>
        <h2 id="subHead">Beer Review Hub</h2>
    </div>
    <div class="MainPageText">Which Style Do You Consume?</div>
    <div id="mainList">        
        <ul>
            @foreach (var Category in Model)
            {
                <li><a href="/Category/Details/@Category.CategoryId">@Category.Style<br /><img src="@Category.ImgPath" style="height: 30vh; width: auto; padding: 20px" /></a></li>
            }
        </ul>
    </div>

    <div class="sidenav">
        <i id="mug" class="fas fa-beer"></i>
        <p>Welcome to Beerds! The premiere hub of beer reviews! Choose from our list of beers to give it a rating or to learn more.</p>
        <div class="NavLinks">
            <a href="/Beer/Index">All Beers</a>
            <hr />
            <div class="ContactInfo">
                <a href="#about">About</a>                
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <footer>
        &copy;2019&nbsp;&nbsp;Team 3D        
    </footer>
</body>


</html>