@model ReviewsSites.Models.UserReview
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Create.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Norican|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" initial-scale=1.0/>
    <title>Create</title>
</head>
<body>
    <header>
        <i id="mug" class="fas fa-beer"></i>
        <a href="/Beer/Index">All Beers</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </header>
    <h1>What do you have to say?</h1>
    <div class="container">
        <fieldset>
            <legend>Your Review</legend>
            <p>Rating</p>
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="UserRating" class="form-control" id="ratingSelector" min="1" max="5" value="5" />
                        <span asp-validation-for="UserRating" class="text-danger"></span>
                    </div>
                    <p>Tell us more...</p>
                    <div class="form-group">
                        <textarea asp-for="UserText" type="text" class="form-control" id="textForUser"></textarea>
                        <span asp-validation-for="UserText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="BeerId" type="hidden" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </fieldset>
    </div>

    <div class="sidenav">
        <i id="mug" class="fas fa-beer"></i>
        <p>Welcome to Beerds! The premiere hub of beer reviews! Choose from our list of beers to give it a rating or to learn more.</p>
        <div class="NavLinks">
            <a href="/Beer/Index">All Beers</a>
            <hr />
            <div class="ContactInfo">
                <a href="#about">About</a>
                <br />
                <br />
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>

</body>
</html>
