*{
    margin: 0;
    padding: 0;
}
.Background {
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-image: url(Images/Bartop.jpg);
    background-position-y: -18rem;
    background-size: cover; 
    background-position:bottom;
    height: 75vh;
}

header{
    display: none;
}


#mugReview {
    color: gold;
    font-size: 2.5rem;
}

#mugReview1 {
    color: saddlebrown;
    font-size: 2.5rem;
}

.beerDetails {
    font-family: 'Raleway', sans-serif;  
    margin-left: 190px;
    display: flex;    
    justify-content: center;
    align-items: center;    
    padding-top: 7vh;   
}

.beerPicture img {
    margin-left: 3rem;
    height: 400px;
    width: auto;
}

.beerDescription {
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    /*line-height: 2rem;*/
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    text-align: center;
}

/*Start color-profile SideNav*/
.sidenav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 12vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 3rem;
    overflow-y: hidden;
    padding-left: 5px;
}

    .sidenav p {
        font-size: 1.5vw;
        padding-bottom: 1vh;
    }

.NavLinks {
    font-family: 'Norican', cursive;
    text-decoration: none;
    font-size: 3vw;
    color: gold;
    padding-top: 40px;
}

    .NavLinks a {
        font-family: 'Norican', cursive;
        text-decoration: none;
        color: gold;
    }

        .NavLinks a:hover {
            color: black;
        }

    .NavLinks p {
        margin: 2rem 1rem;
        font-size: 3vw;
    }

#mug {
    color: gold;
    font-size: 8vh;
}

hr {
    margin: 20px 50px;
}
/*End SideNav*/

.UserReviewSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    margin-left: 190px;
    margin-bottom: 3rem;
    justify-content: center;
    background: white;
}

    .UserReviewSection h3 {
        font-family: 'Norican', cursive;
        font-size: 2.5rem;
        color: gold;
        padding: 1rem;
    }

.leaveReview {
    font-size: 2rem;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
}

    .leaveReview:hover {
        color: saddlebrown;
    }

.UserReviewSection ul {
    list-style: none;
}

.UserReviewSection li {
    padding: 1rem;
}

footer {
    padding-left: 180px;
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    height: 30px;
    width: auto;
    background-color: black;
    padding-top: 20px;
}

@media only screen and (max-width: 736px) {

    .Background{
        display:none
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
        background-color: white;
        width: 100%;
        padding-top: 10px;
    }

    #mug {
        color: black;
        font-size: 40px;
    }

    header a {
        text-decoration: none;
        font-family: 'Norican', cursive;
        font-size: 25px;
        color: gold;
    }

    .sidenav{
        display: none;
    }

    .NavLinks {
        display: none;
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        padding-top: 40px;
    }

        .NavLinks a {
            display: none;
            font-family: 'Norican', cursive;
            text-decoration: none;
            font-size: 25px;
            color: gold;
        }

    .ContactInfo {
        display: none;
        padding-top: 180px;
    }

    .beerDetails {
        font-family: 'Raleway', sans-serif;
        margin-left: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }

    .beerPicture img {
        margin-left: 3rem;
        height: 400px;
        width: auto;
    }

    .UserReviewSection{
        text-align: center;
    } 
    
}
