* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 737px){

    header {
        display: none;
    }

    .Category {
        padding-left: 180px;
        text-align: center;
        height: 50vh;
    }

    .MainPageText {
        padding-top: 15px;
        text-align: center;
        padding-left: 12vw;
        font-size: 2vw;

    }

    #mainList ul { 
        list-style: none;
        grid-gap: 1px;
        text-align: center;
        padding-left: 180px;
        padding-bottom: 50px;       
    }

    #mainList li {
        margin: 1rem 2rem;
        display: inline-block;
        grid-gap: 1px;
        padding: 40px;
    }

    #mainList a {
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: gold;
        font-size: 3vh;
        padding: 15px;
    }

    #mainList img {
        height: 200px;
        width: auto;
    }

    /*Start color-profile SideNav*/
    .sidenav {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 12vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        padding-top: 3rem;
        overflow-y: hidden;
        padding-left: 5px;
    }

        .sidenav p {
            font-size: 1.5vw;
            padding-bottom: 1vh;
        }

    .NavLinks {
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 3vw;
        color: gold;
        padding-top: 40px;
    }

        .NavLinks a {
            font-family: 'Norican', cursive;
            text-decoration: none;
            color: gold;
        }

            .NavLinks a:hover {
                color: black;
            }

        .NavLinks p {
            margin: 2rem 1rem;
            font-size: 3vw;
        }

    #mug {
        color: gold;
        font-size: 8vh;
    }

    hr {
        margin: 20px 50px;
    }
    /*End SideNav*/

    footer {
        padding-left: 180px;
        font-size: 15px;
        color: aliceblue;
        text-align: center;
        height: 30px;
        width: auto;
        background-color: black;
        padding-top: 20px;
    }


} 

@media only screen and (max-width: 736px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
        background-color: white;
        width: 100%;
        padding-top: 10px;
    }

    #mug {
        color: black;
        font-size: 40px;
    }

    header a {
        text-decoration: none;
        font-family: 'Norican', cursive;
        font-size: 25px;
        color: gold;
    }

    .Category {
        text-align: center;
    }

    .MainPageText {
        padding-top: 15px;
        font-family: 'Raleway', sans-serif;
        text-align:center;
    }


    #mainList ul {
        justify-content: center;
        background-color: white;
        list-style: none;
        grid-gap: 1px;
        text-align: center;
    }

    #mainList li {
        margin: 1rem 2rem;
        display: inline-block;
        grid-gap: 1px;
    }

    #mainList a {
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: gold;
        font-size: 3vh;
        padding: 15px;
    }

    #mainList img {
        height: 200px;
        width: auto;
    }

    .sidenav {
        font-family: 'Raleway', sans-serif;
        display: none;
    }

    .NavLinks {
        display: none;
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        padding-top: 40px;
    }

        .NavLinks a {
            display: none;
            font-family: 'Norican', cursive;
            text-decoration: none;
            font-size: 25px;
            color: gold;
        }

    .ContactInfo {
        display: none;
        padding-top: 180px;
    }

    .NavLinks a:hover {
        color: black;
    }

    .NavLinks p {
        margin: 2rem 1rem;
    }

    footer {
        font-size: 15px;
        color: aliceblue;
        text-align: center;
        height: 30px;
        width: auto;
        background-color: black;
        padding: 10px 10px 10px 10px;
    }
}
