* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 737px){

    header {
        display: none;
    }

    .Category {
        padding-left: 180px;
        text-align: center;
        height: 50vh;
    }

    .MainPageText {
        padding-top: 15px;
<<<<<<< HEAD
        font-size: 20px;       
=======
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
>>>>>>> 85b4a9318c3d06edce34d1cdb4725d437711e3dc
        text-align: center;
        padding-left: 190px;       
    }

    #mainList ul {     
        display: flex;
        justify-content:center;
        list-style: none;
        grid-gap: 1px;
        text-align: center;
        padding-left: 180px;
        padding-bottom: 50px;       
    }

    #mainList li {
        margin: 1rem 2rem;
        display: inline-block;
        grid-gap: 1px;
        padding: 40px;
    }

    #mainList a {
        text-decoration: none;
    }

    #mainList img {
        height: 200px;
        width: auto;
    }

    .sidenav {
        font-family: 'Raleway', sans-serif;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 180px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        padding-top: 3rem;
        overflow-y: hidden;
        padding-bottom: -10px;
        /*border-right: solid;
        border-color: gray;*/
    }

    .NavLinks {
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        padding-top: 40px;
    }

        .NavLinks a {
            font-family: 'Norican', cursive;
            text-decoration: none;
            font-size: 25px;
            color: gold;
        }

    .ContactInfo {
        padding-top: 180px;
    }

    .NavLinks a:hover {
        color: black;
    }

    .NavLinks p {
        margin: 2rem 1rem;
    }

    #mug {
        color: gold;
        font-size: 5rem;
    }

    hr {
        margin: 20px 50px;
    }

    footer {
        padding-left: 180px;
        font-size: 15px;
        color: aliceblue;
        text-align: center;
        height: 30px;
        width: auto;
        background-color: black;
        padding-top: 20px;
    }


} 

@media only screen and (max-width: 736px) {

    header {
        display: flex;
        justify-content: space-around;
        height: 60px;
        padding-top: 10px;
    }

    #mug {
        color: black;
        font-size: 40px;
    }

    header a {
        text-decoration: none;
        font-family: 'Norican', cursive;
        font-size: 25px;
        color: gold;
    }

    .Category {
        text-align: center;
    }

    .MainPageText {
        padding-top: 15px;
<<<<<<< HEAD
        font-size: 20px;       
=======
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
>>>>>>> 85b4a9318c3d06edce34d1cdb4725d437711e3dc
        text-align: center;
    }

    #mainList ul {
        justify-content: center;
        background-color: white;
        list-style: none;
        grid-gap: 1px;
        text-align: center;
    }

    #mainList li {
        margin: 1rem 2rem;
        display: inline-block;
        grid-gap: 1px;
    }

    #mainList a {
        text-decoration: none;
    }

    #mainList img {
        height: 200px;
        width: auto;
    }

    .sidenav {
        font-family: 'Raleway', sans-serif;
        display: none;
    }

    .NavLinks {
        display: none;
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        padding-top: 40px;
    }

        .NavLinks a {
            display: none;
            font-family: 'Norican', cursive;
            text-decoration: none;
            font-size: 25px;
            color: gold;
        }

    .ContactInfo {
        display: none;
        padding-top: 180px;
    }

    .NavLinks a:hover {
        color: black;
    }

    .NavLinks p {
        margin: 2rem 1rem;
    }

    footer {
        font-size: 15px;
        color: aliceblue;
        text-align: center;
        height: 30px;
        width: auto;
        background-color: black;
        padding: 10px 10px 10px 10px;
    }
}
