* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html {
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-image: url(Images/Bartop.jpg);
    background-position-y: -18rem;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
}

hr {
    margin: 20px 50px;
}

.sidenav {
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 5rem;
}

    .sidenav a {
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        display: block;
    }

        .sidenav a:hover {
            color: black;
        }

    .sidenav p {
        margin: 2rem 1rem;
    }

#mug {
    color: gold;
    font-size: 5rem;
}

.mugs {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 8.5rem;
    padding-right: 8.5rem;
}

#mugReview {
    color: gold;
    font-size: 2.5rem;
}

#mugReview1 {
    color: saddlebrown;
    font-size: 2.5rem;
}

.beerDetails {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.418);
    margin-left: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
}

.beerPicture img {
    margin-left: 3rem;
    height: 500px;
    width: auto;
}

.beerDescription {
    background-color: white;
    padding: 3rem;
    border-radius: 15px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    text-align: center;
}

.UserReviewSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    margin-left: 190px;
    margin-bottom: 3rem;
    justify-content: center;
    background: white;
}

/*ADDED*/
.UserReviewSection h3{
    font-family: 'Norican', cursive;
    font-size: 2.5rem;
    color: gold;
    padding: 1rem;
}

/*ADDED*/
.leaveReview {
    font-size: 2rem;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 2rem;
}

/*ADDED*/
.leaveReview:hover {
    color: saddlebrown;
}

.UserReviewSection ul {
    list-style: none;
}

.UserReviewSection li {
    padding: 1rem;
}