* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

html {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

body {
    margin-left: 190px;
    background-color: rgba(255, 255, 255, 0.4);
}

h1, h2 {
    font-family: 'Norican', cursive;
}

h1 {
    color: gold;
}

#mainList {
    text-decoration: none;
    text-align: center;
    display: grid;
    text-decoration: none;
}

    #mainList li {
        margin: 1rem 2rem;
        display: inline-block;
        grid-gap: 1px;
    }

    #mainList a {
        text-decoration: none;
    }

    #mainList img {
        height: 100px;
        width: auto;
    }

.sidenav {
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 5rem;
}

    .sidenav a {
        font-family: 'Norican', cursive;
        text-decoration: none;
        font-size: 25px;
        color: gold;
        display: block;
    }

        .sidenav a:hover {
            color: black;
        }

    .sidenav p {
        margin: 2rem 1rem;
    }

#mug {
    color: gold;
    font-size: 5rem;
}

#subHead {
    margin-bottom: 3rem;
    font-family: 'Norican', cursive;
    text-align: center;
    font-size: 3rem;
    color: lightblue;
    text-shadow: 2px 2px 3px black;
}

.MainPageText {
    margin: 1rem 7rem;
}