@model ReviewsSites.Models.Reviews
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @Model.Beer @Model.Rating @Model.Description
    <a href="/Reviews/Index">Return back to home</a>
</body>
</html>
