@model IEnumerable<ReviewsSites.Models.Reviews>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
</head>

<body>
    <header></header>
    <h1>
        Beer List
    </h1>

    <ol>
        @foreach (var Reviews in Model)
        {
            <li><a href="/Reviews/Details/@Reviews.Id">@Reviews.Beer</a></li>
        }
    </ol>

</body>
</html>
