@model IEnumerable<ReviewsSites.Models.Reviews>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Norican|Reem+Kufi|Teko" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Beerds</title>
</head>

<body>

    <h1 id="beerReview">Beerds</h1>
    <h2 id="subHead">Beer Review Hub</h2>

    <ol>
        @foreach (var Reviews in Model)
        {
            <li><a href="/Reviews/Details/@Reviews.Id">@Reviews.Beer</a></li>
        }
    </ol>

</body>

<div class="sidenav">
    <i id="mug" class="fas fa-beer"></i>
    <p>Welcome to Beerds! The premiere hub of beer reviews! Choose from our list of beers to give it a rating or to learn more.</p>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
</div>

</html>
